<div class="cadastro">
    <div>
        <h1 class="cadastro-titulo">Cadastro</h1>        
    </div>
    <div class="cadastro-formulario">
        <div class="cadastro-form">
            <label for="cadastro-nome">
                Nome Completo <span class="cadastro-obrigatorio">*</span>
            </label>
            <input class="form-control" type="text" id="cadastro-nome" placeholder="Digite o nome...">
            <p class="cadastro-error" id="cadastro-error-nome"></p>
        </div>
        
        <div class="cadastro-form">
            <label for="cadastro-email">
                Email <span class="cadastro-obrigatorio">*</span>
            </label>
            <input class="form-control" type="email" id="cadastro-email" placeholder="Digite o email...">
            <p class="cadastro-error" id="cadastro-error-email"></p>
        </div>
        
        <div class="cadastro-form">
            <label for="cadastro-nascimento">
                Nascimento <span class="cadastro-obrigatorio">*</span>
            </label>
            <input class="form-control" type="date" id="cadastro-nascimento" min="1930-01-01" max="2030-01-01">
            <p class="cadastro-error" id="cadastro-error-niver"></p>
        </div>
        <div class="cadastro-form">
           <p class="cadastro-tipo-titulo">
                Tipo da Conta <span class="cadastro-obrigatorio">*</span>
           </p> 
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="cadastro-tipo-func" checked>
                <label class="form-check-label" for="cadastro-tipo-func">
                  Funcionário
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="cadastro-tipo-admin">
                <label class="form-check-label" for="cadastro-tipo-admin">
                  Administrador
                </label>
              </div>
        </div>
        <div class="cadastro-botoes">
            <a href="<%- root %>/admin/funcionarios" class="btn btn-primary">Voltar</a>
            <button type="button" class="btn btn-success" onclick="cadastrarFuncionario()">Cadastrar</button>
        </div>
       
    </div>
</div>

<script type="text/javascript">
    let nome = document.getElementById("cadastro-nome");
    let email = document.getElementById("cadastro-email");
    let aniversario = document.getElementById("cadastro-nascimento");
    let Elementtipo = document.getElementById("cadastro-tipo-func");
    let tipo; 
    
   

    async function cadastrarFuncionario() {
		let erros = false;
        
		if(!nome.value){
            erros = true;
			document.getElementById("cadastro-error-nome").textContent = "(!) Este campo é obrigatório!";
        } else {
			document.getElementById("cadastro-error-nome").textContent = "";
        }

		if(!email.value){
			erros = true;
            document.getElementById("cadastro-error-email").textContent = "(!) Este campo é obrigatório!";
        } else {
			document.getElementById("cadastro-error-email").textContent = "";
        }

		if(!aniversario.value){
			erros = true;
            document.getElementById("cadastro-error-niver").textContent = "(!) Este campo é obrigatório!";
        } else {
			document.getElementById("cadastro-error-niver").textContent = "";
        }

        if(erros){
            return;
        }

		let tipo; 

		if(Elementtipo.checked){
			tipo = 1;
		}else {
			tipo = 2;
		}

        let dados = {
            nome: nome.value,
            email: email.value,
            niver: aniversario.value,
            tipo: tipo
        }

        let opcoes = {
			method: "POST",
			headers: {
				"Content-Type": "application/json"
		    },
		    body: JSON.stringify(dados)
		};
        

        try{
            let response = await fetch("<%- root %>/admin/CadastrarFuncionario", opcoes);

            if(response.ok){
                Swal.fire({
                icon: 'success',
                title: 'Cadastrado com sucesso!',
                text: `O funcionário ${nome.value} foi cadastrado com sucesso!`
                });
                        
                nome.value = null;
                email.value = null;
                aniversario.value = null;
            }else{
                Swal.fire({
                icon: 'error',
                title: 'Oops..',
                text: `Deu um erro ao cadastrar o funcionário!`
                });
            }

        } catch(ex){
            Swal.fire({
            icon: 'error',
            title: 'Ops..',
            text: `Erro ao cadastrar! \n ERRO: ${ex.message}`
        });
        }

        


        console.log(dados);
    }
</script>
