<link rel="stylesheet" type="text/css" href="/public/lib/datatables/datatables.min.css"/>

<style type="text/css">
    .limitador {
        justify-content: start;
    }

    .navbar {
        justify-content: start;
        background-color: #557DCC;
    }
    .form-control {
        color: #557DCC;
    }
</style>

<div class="admin">
    <nav class="navbar navbar-dark admin-filtro">
        <div class="admin-filtro-filtros-1">
            <label class="admin-filtro-titulos " for="id-filtro-func">
                Funcionário
            </label>
            <select id="id-filtro-func" class="form-control admin-filtro-select">
                <option selected>Funcionário</option>
                <option disabled>--------------------------------------</option>
                <% for (let contador = 0; contador < funcionarios.length; contador++) { %>
                    <option value="<%= contador + 1 %>"><%= funcionarios[contador].FuncNome %></option>
                <% } %>
            </select>
        </div>
        <div class="admin-filtro-filtros">
            <label class="admin-filtro-titulos" for="id-filtro-data1" >
                De
            </label>
            <input type="date" id="id-filtro-data1" class="form-control">
        </div>  
        <div class="admin-filtro-filtros" >
            <label class="admin-filtro-titulos" for="id-filtro-data2" class="form-control">
                Até
            </label>
            <input type="date" id="id-filtro-data2" class="form-control">
        </div> 
        <div class="admin-filtro-cadastrar">
            <button type="button" class="admin-filtro-buscar">Buscar <img src="/public/img/lupa.png"></button>
            <a type="button" href="/admin/cadastro" class="admin-filtro-cadastrar-botao">Cadastrar Funcionário</a>
        </div>
    </nav>
    
    <div class="admin-tabela">
        <table id="tabela" class="table table-striped table-hover"></table>
    </div> 
</div>

<script type="text/javascript" src="/public/lib/datatables/datatables.min.js"></script>
<script type="text/javascript" src="/public/js/datatables-custom.js"></script>

<script type="text/javascript">
    $("#tabela").DataTable({
        autoWidth: false,
        searching: false,
        language: tableLanguagePtBr,
        order: [
            [0, "asc"],
            [2, "asc"]
        ],
        columns: [
            { title: "ID", type: "number", data: "HorarioID" },
            { title: "Funcionário", data: "FuncNome" },
            { title: "Entrada", type:"customdatetimeint", data: "HorarioEntrada" },
            { title: "Início Intervalo", type:"customdatetimeint", data: "HorarioIIntervalo" },
            { title: "Fim Intervalo", type:"customdatetimeint", data: "HorarioVIntervalo" },
            { title: "Saída", type:"customdatetimeint", data: "HorarioSaida" }
            // { title: "Tempo Intervalo", type:"customtime", data: "tintervalo" },
            // { title: "Tempo Trabalhado", type:"customtime", data: "ttrabalho" }
        ],
        data: <%- JSON.stringify(dados) %>
    });
</script>
