<link rel="stylesheet" type="text/css" href="/public/lib/datatables/datatables.min.css"/>

<style type="text/css">
    .limitador {
        justify-content: start;
    }

    .navbar {
        justify-content: start;
        background-color: #557DCC;
    }
    .form-control {
        color: #557DCC;
    }
</style>

<div class="admin">
    <nav class="navbar navbar-dark admin-filtro">
        <div class="admin-filtro-filtros-1">
            <label class="admin-filtro-titulos " for="id-filtro-func">
                Funcionário
            </label>
            <select id="id-filtro-func" class="form-control admin-filtro-select">
                <option selected>Funcionário</option>
                <option disabled>--------------------------------------</option>
                <option>Cauê Lucas Bucci Bandeira</option>
            </select>
        </div>
        <div class="admin-filtro-filtros">
            <label class="admin-filtro-titulos" for="id-filtro-data1" >
                De
            </label>
            <input type="date" id="id-filtro-data1" class="form-control">
        </div>  
        <div class="admin-filtro-filtros" >
            <label class="admin-filtro-titulos" for="id-filtro-data2" class="form-control">
                Até
            </label>
            <input type="date" id="id-filtro-data2" class="form-control">
        </div> 
        <div>
            <button type="button" class="admin-filtro-buscar">Buscar <img src="/public/img/lupa.png"></button>
        </div>
        <div class="admin-filtro-cadastrar">
            <a type="button" href="/admin/cadastro" class="admin-filtro-cadastrar-botao">Cadastrar Funcionário</a>
        </div>
    </nav>
    
    <div class="admin-tabela">
        <table id="tabela" class="table table-striped table-hover"></table>
    </div> 
</div>

<script type="text/javascript" src="/public/lib/datatables/datatables.min.js"></script>
<script type="text/javascript" src="/public/js/datatables-custom.js"></script>

<script type="text/javascript">
    $("#tabela").DataTable({
        autoWidth: false,
        searching: false,
        language: tableLanguagePtBr,
        order: [
            [0, "asc"],
            [2, "asc"]
        ],
        columns: [
            { title: "ID", type: "number", data: "id" },
            { title: "Funcionário", data: "funcionario" },
            { title: "Entrada", type:"customdatetimeint", data: "entrada" },
            { title: "Início Intervalo", type:"customdatetimeint", data: "iintervalo" },
            { title: "Fim Intervalo", type:"customdatetimeint", data: "fintervalo" },
            { title: "Saída", type:"customdatetimeint", data: "saida" },
            { title: "Tempo Intervalo", type:"customtime", data: "tintervalo" },
            { title: "Tempo Trabalhado", type:"customtime", data: "ttrabalho" }
        ],
        data: [
            { id: 1, funcionario: "Cauê Lucas Bucci Bandeira", entrada: "13/10/2022 08:30", iintervalo: "13/10/2022 15:32",  fintervalo: "13/10/2022 16:30", saida: "13/10/2022 18:33", tintervalo: "01:12:34", ttrabalho: "12:08:22"},
            { id: 2, funcionario: "Cauê Lucas Bucci Bandeira", entrada: "13/10/2022 08:30", iintervalo: "13/10/2022 15:32",  fintervalo: "13/10/2022 16:30", saida: "13/10/2022 18:33", tintervalo: "01:12:34", ttrabalho: "12:08:22"},
            { id: 3, funcionario: "Cauê Lucas Bucci Bandeira", entrada: "13/10/2022 08:30", iintervalo: "13/10/2022 15:32",  fintervalo: "13/10/2022 16:30", saida: "13/10/2022 18:33", tintervalo: "01:12:34", ttrabalho: "12:08:22"},
            { id: 4, funcionario: "Gabriel Bastos Guimarões", entrada: "13/10/2022 08:37", iintervalo: "13/10/2022 11:56",  fintervalo: "13/10/2022 12:52", saida: "13/10/2022 17:58", tintervalo: "01:32:21", ttrabalho: "12:43:12"},
            { id: 5, funcionario: "Lucas da Silva", entrada: "13/10/2022 09:30", iintervalo: "13/10/2022 12:49",  fintervalo: "13/10/2022 13:43", saida: "13/10/2022 19:13", tintervalo: "01:43:32", ttrabalho: "12:18:22"},
            { id: 6, funcionario: "Lucas da Silva", entrada: "13/10/2022 09:30", iintervalo: "13/10/2022 12:49",  fintervalo: "13/10/2022 13:43", saida: "13/10/2022 19:13", tintervalo: "01:43:32", ttrabalho: "12:18:22"},
            { id: 7, funcionario: "Lucas da Silva", entrada: "13/10/2022 09:30", iintervalo: "13/10/2022 12:49",  fintervalo: "13/10/2022 13:43", saida: "13/10/2022 19:13", tintervalo: "01:43:32", ttrabalho: "12:18:22"},
            { id: 8, funcionario: "Lucas da Silva", entrada: "13/10/2022 09:30", iintervalo: "13/10/2022 12:49",  fintervalo: "13/10/2022 13:43", saida: "13/10/2022 19:13", tintervalo: "01:43:32", ttrabalho: "12:18:22"},
            { id: 9, funcionario: "Jonas Pedro Figueiredo", entrada: "11/09/2022 09:40", iintervalo: "11/09/2022 12:31",  fintervalo: "13/10/2022 13:35", saida: "11/09/2022 19:34", tintervalo: "01:00:23", ttrabalho: "10:28:02"},
            { id: 10, funcionario: "Jonas Pedro Figueiredo", entrada: "11/09/2022 09:40", iintervalo: "11/09/2022 12:31",  fintervalo: "13/10/2022 13:35", saida: "11/09/2022 19:34", tintervalo: "01:00:23", ttrabalho: "10:28:02"},
            { id: 11, funcionario: "Jonas Pedro Figueiredo", entrada: "11/09/2022 09:40", iintervalo: "11/09/2022 12:31",  fintervalo: "13/10/2022 13:35", saida: "11/09/2022 19:34", tintervalo: "01:00:23", ttrabalho: "10:28:02"},
         ]
    });
</script>
