<div class="admin">
    <div class="88">
        <nav class="navbar navbar-dark bg-primary">
            <div>
                <label for="id-filtro-func">
                    Funcionário
                </label>
                <select id="id-filtro-func" class="form-control">
                    <option selected>Funcionário</option>
                </select>
            </div>
            <div>
                <label for="id-filtro-data1" >
                    De
                </label>
                <input type="date" id="id-filtro-data1">
            </div>  
          </nav>
        
    </div>
</div>