/* Geral */

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}
img {
    max-width: 100%;
}
.limitador {
    max-width: 1500px;
    margin: 0px auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Layout */

.cabecalho{
    background-color: #557DCC;
    text-align: center;
    margin-bottom: 3rem;
}
.rodape{
    background-color: #557DCC;
    text-align: center;
    bottom: 0px;
    color: white;
    margin-top: 3rem;
    padding: 1rem;
}

/* index */

.index{
    text-align: center;
    
}
.index-titulo{
    margin-top: 0px;
    color:#557DCC;
    font-weight: 800;
    font-size: 50px;
    margin-bottom: 100px;
}
.index-botao{
    text-align: right;
    padding-top: 55px;
}
.index-botao-estilo{
    text-align: center;
    border-radius: 999px;
    padding: 7px 50px 7px 50px;
    border: 0px;
    background-color: #557DCC;
    color: white;
    
}
.index-botao-estilo-1{
    text-align: center;
    border-radius: 999px;
    padding: 7px 40px 7px 40px;
    border: 0px;
    background-color: #557DCC;
    color: white;
    
}
.index-relogio{
    text-align: left;
}

/* Admin /*

