/* Geral */

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;           
}
img {
    max-width: 100%;
}
.limitador {
    max-width: 1500px;
    margin: 0px auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Layout */

.cabecalho{
    background-color: #557DCC;
    text-align: center;
    margin-bottom: 3rem;
}
.rodape{
    background-color: #557DCC;
    text-align: center;
    bottom: 0px;
    color: white;
    margin-top: 3rem;
    padding: 1rem;
}

/* index */

.index{
    text-align: center;
    
}
.index-titulo{
    margin-top: 0px;
    color:#557DCC;
    font-weight: 800;
    font-size: 50px;
    margin-bottom: 100px;
}
.index-botao{
    text-align: right;
    padding-top: 55px;
    
}
.index-botao-estilo{
    text-align: center;
    border-radius: 999px;
    padding: 7px 50px 7px 50px;
    border: 0px;
    background-color: #557DCC;
    color: white;    
}
.index-botao-estilo:hover{
    text-decoration: none;
    background-color: #4062A3; 
    color: white;  
}
.index-botao-estilo-1:hover{
    text-decoration: none;
    background-color: #4062A3; 
    color: white;  
}
.index-botao-estilo-1{
    text-align: center;
    border-radius: 999px;
    padding: 7px 40px 7px 40px;
    border: 0px;
    background-color: #557DCC;
    color: white;
    
}
.index-relogio{
    text-align: left;
}

/* Admin */

.admin{
    margin-left: 20px;
    margin-right: 20px;
}
.admin-filtro {
    border-radius: 40px;
    justify-content: center;
}

.admin-filtro-titulos {
    color: white;
}
.admin-filtro-select {
    padding-right: 100px;
}

.admin-filtro-filtros {
    margin-right: 30px;
}

.admin-filtro-filtros-1{
    margin-right: 30px;
    margin-left: 40px;
}

.admin-filtro-buscar{
    border: 0px;
    border-radius: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #4062A3;
    color: white;
    margin-top: 10px;
}
.admin-filtro-buscar::selection{
    border-width: 0px;
}
.admin-filtro-cadastrar{
   text-align: center;
}
.admin-filtro-cadastrar-botao{
    border: 0px;
    border-radius: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #4062A3;
    color: white;
    margin-top: 10px;
}
.admin-filtro-cadastrar-botao:hover{
    text-decoration: none;
    color: white;
}
.admin-tabela{
    margin-top: 20px;
}
.admin-tabela-titulo {
    color: #557DCC;
    
}
.admin-tabela-titulo-linha{
    border-top: 2px solid #4062A3;
    margin-top: 0px;
}

.dataTables_wrapper > .row > .col-sm-12 {
    overflow: auto;
}

.admin-filtro-func-botao{
    border-width: 0px;
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}

/* Cadastro */

.cadastro{
    text-align: center;
    width: 100%;
    max-width: 500px;
    color: #557DCC;
    margin: 0 auto;
    padding: 0 10px;
}

.cadastro-titulo{
    margin-top: 0px;
    color:#557DCC;
    font-weight: 800;
    font-size: 50px;
    margin-bottom: 50px;
}

.cadastro-formulario {
    text-align: left;
}
.cadastro-tipo-titulo{
    margin-bottom: .5rem;
}
.cadastro-obrigatorio {
    color: red;
}

.cadastro-form{
    padding-bottom: 10px;
}

.cadastro-botoes{
    text-align: center;
    padding-top: 30px;
}

.cadastro-error{
    padding-top: 1px;
    padding-bottom: 1px ;
    margin: 0px;
    font-size: 10px;
    font-weight: 700;
    color: red;
}

/* Funcionario */

.funcionario {

    
}

.funcionario-label{
    color: #4062A3;
    font-weight: 700;
}

.funcionario-select{
    color: #4062A3;
}

.funcionario-horario{
    margin-top: 50px;
    text-align: center;
}

.funcionario-horario-hora{
    color: #4062A3;
    font-weight: 700;
    font-size: 100px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.funcionario-horario-local{
    color: #4062A3;
    font-weight: 700;
    margin-top: 0px;
    padding-top: 0px;
}

.funcionario-acessar-botao{
    margin-top: 20px;
    border: 0px;
    border-radius: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #4062A3;
    color: white;
}
.funcionario-acessar-botao:hover{
    text-decoration: none;
    color: white;
}

.funcionario-botao-entrar{
    margin-top: 20px;
    border: 0px;
    border-radius: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #4062A3;
    color: white;
}
.funcionario-botao-entrar:hover{
    text-decoration: none;
    color: white;
}

.funcionario-botao-ialmoco{
    margin-top: 20px;
    border: 0px;
    border-radius: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #C5C91C;
    color: white;
}
.funcionario-botao-ialmoco:hover{
    text-decoration: none;
    color: white;
}
.funcionario-botao-valmoco{
    margin-top: 20px;
    border: 0px;
    border-radius: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #C96F1C;
    color: white;
}
.funcionario-botao-valmoco:hover{
    text-decoration: none;
    color: white;
}
.funcionario-botao-sair{
    margin-top: 20px;
    border: 0px;
    border-radius: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #F80707;
    color: white;
}
.funcionario-botao-sair:hover{
    text-decoration: none;
    color: white;
}