<div class="index">
    <div>
        <h1 class="index-titulo">Controle de Horas</h1>        
    </div>
    

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 index-botao text-center text-sm-right">
                <p>
                    <a class="index-botao-estilo" href="<%- root %>/funcionario">Área Funcionário</a>
                </p>
               <p>
                    <a class="index-botao-estilo-1" href="<%- root %>/admin">Área Administrativa</a>
               </p>
            </div>
            <div class="col-sm-6 index-relogio text-center text-sm-left">
                <img src="<%- root %>/public/img/relogio.png" alt="relógio" width="200px">
            </div>
        </div>

        
    </div>
</div>
