<div class="index">
    <div>
        <h1 class="index-titulo">Controle de Horas</h1>        
    </div>
    

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 index-botao text-center text-sm-right">
                <p>
                    <button class="index-botao-estilo" type="button" onclick="">Área Funcionário</button>
                </p>
               <p>
                <button class="index-botao-estilo-1" type="button" onclick="">Área Administrativa</button>
               </p>
            </div>
            <div class="col-sm-6 index-relogio text-center text-sm-left">
                <img src="/public/img/relogio.png" alt="relógio" width="200px">
            </div>
        </div>
    </div>
</div>
