<div class="admin">
    <div class="88">
        <label for="id-filtro-func">
            Funcionário
        </label>
        <select id="id-filtro-func">
            <option selected>Funcionário</option>
        </select>
    </div>
</div>