<div class="funcionario">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 ">
                <label class="funcionario-label " for="id-filtro-func">
                    Funcionário
                </label>
                <select id="id-filtro-func" class="form-control funcionario-select">
                    <option selected>Funcionário</option>
                    <option disabled>--------------------------------------</option>
                    <% for (let contador = 0; contador < funcionarios.length; contador++) { %>
                        <option value="<%= contador + 1 %>"><%= funcionarios[contador].FuncNome %></option>
                    <% } %>
                </select>
            </div>
            <div class="col-sm-4">
                <p>
                    <button type="button" id="buscar-func" onclick="innerStatus(1)" class="funcionario-acessar-botao">Acessar</button>
                </p>
            </div>
        </div>
    </div>
    
    <div class="funcionario-horario" id="status">
        
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script type="text/javascript">
    let FuncionarRelogio = false;

    let horario = document.getElementById("horario");

    function f2(x) {
        if (x < 10)
            return "0" + x;
        else
            return x.toString();
    }

    function atualizarHorario() {
        const agora = new Date();
        horario.textContent = `${f2(agora.getHours())}:${f2(agora.getMinutes())}:${f2(agora.getSeconds())}`;
    }

       


    let relogio = `
    <div>
        <p class="funcionario-horario-hora" id="horario"></p>
        <p class="funcionario-horario-local">Horário oficial de Brasília</p>
    </div>
    `
    let EntrarEmServico = `
    <div>
        <button type="button" onclick="" class="funcionario-botao-entrar">Entrar em Serviço</button>
    </div>    
    `
    let IniciarAlmoco = `
    <div>
        <button type="button" onclick="" class="funcionario-botao-ialmoco">Horário de Almoço</button>
    </div>    
    `
    let VoltarAlmoco = `
    <div>
        <button type="button" onclick="" class="funcionario-botao-valmoco">Voltar ao Serviço</button>
    </div>    
    `
    let SairDoServico = `
    <div>
        <button type="button" onclick="" class="funcionario-botao-sair">Sair de Serviço</button>
    </div>    
    `

    

    function innerStatus(opc) {

        let status = document.getElementById("status");
        let divs = "";
        if (opc == 1){
            divs = relogio + EntrarEmServico;
        }else if(opc == 2){
            divs = relogio + IniciarAlmoco;
        }else if(opc == 3){
            divs = relogio + VoltarAlmoco;
        }else if(opc == 4){
            divs = relogio + SairDoServico;
        }
        status.innerHTML = divs;
        atualizarHorario();
        setInterval(atualizarHorario, 250);
    }

</script>